{% extends 'base.html' %}

{% block title %}À Propos - Fondation IPA{% endblock %}

{% block content %}
    <div class="image-decoration"></div>

    <div class="historique">

            <h1>Historique détaillé d'InGen et de la création de l'IPA :</h1>
            <p>L'InGen Preservation Agency a vu le jour suite aux avancées révolutionnaires de la société InGen en matière de clonage de dinosaures.<br />
                Fondée par des experts en paléontologie et des défenseurs de la biodiversité, l'IPA s'est donné pour mission de préserver ces merveilles préhistoriques et de restaurer l'équilibre délicat de leur environnement naturel.<br />
                Notre histoire détaillée vous plongera dans le passé fascinant de la découverte des dinosaures, jusqu'à l'établissement de l'IPA en tant que gardienne de leur avenir.</p>

            <h2>Objectifs de l'IPA dans la préservation des dinosaures et de leur environnement :</h2>
            <p>
                Notre objectif principal est de sauvegarder les dinosaures de l'extinction en préservant leur habitat naturel et en promouvant leur coexistence pacifique avec l'humanité.<br />
                Nous nous engageons à protéger ces espèces uniques, en sensibilisant le public à l'importance de leur préservation pour les générations futures.<br />
                Grâce à des projets de recherche innovants, nous aspirons à créer un équilibre durable entre les dinosaures et leur écosystème, tout en favorisant la conservation de la biodiversité.<br />
            </p>

    </div>

{% endblock %}