{% extends 'base.html' %}

{% block title %}Accueil - IPA - InGen Preservation Agency{% endblock %}

{% block content %}

<header>
    <div class="banner">
        <img src="/static/image/decor-1.jpg" alt="decor banner">
        <div class="overlay">
            <h1>IPA</h1>
            <h2> InGen . Preservation . Agency </h2>
            <p>"Protégeons le passé pour préserver l'avenir."</p>
        </div>
    </div>
</header>
<body>
    <div id="block_separate" style="background-color: darkgreen"></div>

</body>

{% endblock %}
{#    <h1>#}
{#        IPA - InGen Preservation Agency#}
{#        <p>"Protégeons le passé pour préserver l'avenir."</p>#}
{#    </h1>#}
{#    <h2>#}
{##}
{#        <div class="banner">#}
{#            <img src="/static/image/decor-1.jpg" class="banner" alt="decor banner">#}
{#        </div>#}
{##}
{#    </h2>#}



{#<body>#}
{#    <div class="container">#}
{#      <div class="acceuil">#}
{#        <picture>#}
{#          <img src="/static/image/decor-1.jpg">#}
{#        </picture>#}
{#      </div>#}
{##}
{#      <div class="acceuil_text">#}
{#        <h1>IPA - InGen Preservation Agency</h1>#}
{#      </div>#}
{#    </div>#}
{#</body>#}